$project-card-size: 320px;
$max-items-per-row: 4;

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .row {
    max-width: ($project-card-size * $max-items-per-row + 50);
    justify-content: center;
  }
}

.project-card {
  height: $project-card-size;
  width: $project-card-size;
  margin: 5px;
  position: relative;
  overflow-y: hidden;
}

.project-display {
  * {
    height: $project-card-size;
    width: $project-card-size;
  }
}

.project-summary-container {
  height: $project-card-size;
  width: $project-card-size;
  position: absolute;
  top: 100%;
}

.project-summary-content {
  height: $project-card-size;
  width: $project-card-size;
  position: relative;
  >:first-child {
    height: 100%;
  }
  h1 {
    margin: 0 24px;
    padding: 12px 0;
    text-align: center;
  }
  p {
    margin: 8px 12px;
  }
  .round-tab-container {
    height: 20%;
    width: 20%;
    position: absolute;
    top: -20%;
    left: 0;
  }
  button {
    width: fit-content;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
}

.show-project-summary {
  top: 0;
}

.modal-body {
  p {
    line-height: 1.5;
  }
  * {
    margin-bottom: 8px;
  }
  :last-child {
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
  ul {
    padding-left: 16px;
  }
}

#krona-description img {
  width: 100%;
}

#home-club-description {
  justify-content: space-between;
  img {
    width: 50%;
    margin-left: 16px;
  }
}