$navbar-color: #DC143C; // Red
$dark-gray: #252527; // More Dark Gray
$light-gray: #333333; // Less Dark Gray
$text-color: #FFFFFF; // White

// Default colors
body {
  background-color: $dark-gray;
  color: $text-color;
}

.highlight {
  background-color: $navbar-color;
  color: white;
}

.border-bottom {
  width: 100%;
  border-bottom: 2px solid white;
}

// Override Bootstrap Navbar default CSS properties
.bg-primary {
  background-color: $navbar-color !important;
}
.nav-link {
  color: $text-color;
}
.nav-pills .nav-link.active {
  background-color: $text-color;
  color: $navbar-color !important;
}


// Override Bootstrap Modal
.modal-content {
  background-color: $light-gray;
}

.project-display {
  color: black;
}

$project-summary-bg-color: rgba(0,0,0,0.7);

.project-summary-content {
  background-color: rgba(0,0,0,0.7);
  h1 {
    border-bottom: 2px solid white;
  }
}

.round-tab {
  background-color: $dark-gray;
}

.round-tab:before {
  box-shadow: -15px 0 $dark-gray;
}